<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<add name="haunting" connectionString="Server=localhost\sqldev01;Database=hauntinginfo;User Id=EJApp; Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
	</connectionStrings>


	<system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
